<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
             xmlns:p="http://primefaces.org/ui">
    
    <h:form>
        <p:commandButton value="Pesquisar" update="@form" action=""></p:commandButton>
        <p:commandButton value="Voltar" update="@form" action=""></p:commandButton>
        <p:commandButton value="Adicionar" update="@form" action=""></p:commandButton>
        <p:commandButton value="Salvar" update="@form" action=""></p:commandButton>
        <p:commandButton value="Limpar" update="@form" action=""></p:commandButton>
    </h:form>
</ui:decorate>>

