<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:body>
        <h:form>
            <p:menubar style="background: #eee">
                <p:menuitem value="Inicio" url="index.jsf"></p:menuitem>
                <p:menuitem value="Ovos" url="telaOvos.jsf"></p:menuitem>
                <p:menuitem value="Granja Postura" url="telaGranjaOvos.jsf"></p:menuitem>
                <p:menuitem value="Granja Corte" url="telaGranjaCorte.jsf"></p:menuitem>
                <p:menuitem value="Incubátorio" url="telaIncubatorio.jsf"></p:menuitem>
                <p:menuitem value="Vacinas" url="telaVacinas.jsf"></p:menuitem>
                <p:menuitem value="Rações" url="telaRacoes.jsf"></p:menuitem>
                <p:menuitem value="Financeiro" url="telaFinanceiro.jsf"></p:menuitem>
                <p:menuitem value="Relatorios" url="telaRelatorios.jsf"></p:menuitem>
            </p:menubar>
        </h:form>

        <ui:insert></ui:insert>
    </h:body>
</html>

