<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
             template="menu.xhtml"
             xmlns:ave="http://xmlns.jcp.org/jsf/composite/avecomp"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Tratamentos</title>
    </h:head>
    <h:form>
        <p:messages autoUpdate="true" showDetail="true"></p:messages>
        <p:fieldset>
            <p:panelGrid columns="4" >
                <h:outputLabel value="Data do tratamento:"></h:outputLabel>
                <p:calendar value="#{vacinaBean.entidade.datatratamento}"></p:calendar>
                <h:outputLabel value="Tipo do tratamento:"></h:outputLabel>
                <p:inputText value="#{vacinaBean.entidade.tipotratamento}"></p:inputText>
                <h:outputLabel value="Detalhes:"></h:outputLabel>
                <p:inputText value="#{vacinaBean.entidade.detalhe}"></p:inputText>
            </p:panelGrid>
            <ave:toolbarCrud crudBean="#{vacinaBean}"></ave:toolbarCrud>
            <br/>
            <br/>
            <p:dataTable value="#{vacinaBean.entidades}" var="v" >
                <p:column headerText="Tratamento">
                    <h:outputText value="#{v.tipotratamento}"></h:outputText>
                </p:column>
                <p:column headerText="Data tratamento">
                    <p:calendar value="#{v.datatratamento}" disabled="true"></p:calendar>
                </p:column>
                <p:column headerText="Editar">
                    <p:commandButton value="Editar" action="#{vacinaBean.change(v)}" update="@form" ></p:commandButton>
                </p:column>
                <p:column headerText="Excluir">
                    <p:commandButton value="Excluir" action="#{vacinaBean.delete(v)}" update="@form" ></p:commandButton>
                </p:column>
            </p:dataTable>
        </p:fieldset>
    </h:form>
</ui:decorate>

