<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
             template="menu.xhtml"
             xmlns:ave="http://xmlns.jcp.org/jsf/composite/avecomp"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:p="http://primefaces.org/ui"
             xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Granja de Corte</title>
    </h:head>
    <h:form>
        <p:messages autoUpdate="true" showDetail="true"></p:messages>
        <p:fieldset>
            <p:panelGrid columns="4">
                <h:outputLabel value="Quantidade de aves:"></h:outputLabel>
                <p:inputText value="#{granjaCorteBean.entidade.quantidadeaves}"></p:inputText>
                <h:outputLabel value="Comentário:"></h:outputLabel>
                <p:inputText value="#{granjaCorteBean.entidade.comentario}"></p:inputText>
                <h:outputLabel value="Maximo de aves:"></h:outputLabel>
                <p:inputText value="#{granjaCorteBean.entidade.maximoaves}"></p:inputText>
                <h:outputLabel value="Data de entrada:"></h:outputLabel>
                <p:calendar value="#{granjaCorteBean.entidade.dataentrada}"></p:calendar>
                <h:outputLabel value="Data saida:"></h:outputLabel>
                <p:calendar value="#{granjaCorteBean.entidade.datasaida}"></p:calendar>
                <h:outputLabel value="Mortalidade"></h:outputLabel>
                <p:inputText value="#{granjaCorteBean.entidade.mortalidade}"></p:inputText>
                <h:outputLabel value="Tipo de ave:"></h:outputLabel>
                <p:selectOneMenu value="#{granjaCorteBean.entidade.tipoAve}">
                    <f:selectItem itemLabel="Selecione..." itemValue="" />
                    <f:selectItems value="#{tipoAvesDAO.buscarLista()}" />
                </p:selectOneMenu>
            </p:panelGrid>
            <ave:toolbarCrud crudBean="#{granjaCorteBean}"></ave:toolbarCrud>
            <br/>
            <br/>
            <p:dataTable value="#{granjaCorteBean.entidades}" var="gc">
                <p:column headerText="ID Granja">
                    <h:outputText value="#{gc.id}"></h:outputText>
                </p:column>
                <p:column headerText="Tipo de Ave">
                    <h:outputText value="#{gc.tipoAve}"></h:outputText>
                </p:column>
                <p:column headerText="Mortalidade">
                    <h:outputText value="#{gc.mortalidade}"></h:outputText>
                </p:column>
                <p:column headerText="Quantidade de Aves">
                    <h:outputText value="#{gc.quantidadeaves}"></h:outputText>
                </p:column>
                <p:column headerText="Maximo de aves">
                    <h:outputText value="#{gc.maximoaves}"></h:outputText>
                </p:column>
                <p:column headerText="Data entrada">
                    <p:calendar value="#{gc.dataentrada}" disabled="true"></p:calendar>
                </p:column>
                <p:column headerText="Data saida">
                    <p:calendar value="#{gc.datasaida}" disabled="true"></p:calendar>
                </p:column>
                <p:column headerText="Editar">
                    <p:commandButton value="Editar" action="#{granjaCorteBean.change(gc)}" update="@form" ></p:commandButton>
                </p:column>
                <p:column headerText="Excluir">
                    <p:commandButton value="Excluir" action="#{granjaCorteBean.delete(gc)}" update="@form" ></p:commandButton>
                </p:column>
            </p:dataTable>
        </p:fieldset>
    </h:form>
</ui:decorate>

