<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
             template="menu.xhtml"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:p="http://primefaces.org/ui"
             xmlns:ave="http://xmlns.jcp.org/jsf/composite/avecomp"
             xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Incubátorio</title>
    </h:head>
    <h:form>
        <p:messages autoUpdate="true" showDetail="true"></p:messages>
        <p:fieldset>
            <p:panelGrid columns="4" >
                <h:outputLabel value="Temperatura:"></h:outputLabel>
                <p:inputText value="#{incubatorioBean.entidade.temperatura}"></p:inputText>
                <h:outputLabel value="Umidade:"></h:outputLabel>
                <p:inputText value="#{incubatorioBean.entidade.umidade}"></p:inputText>
                <h:outputLabel value="Tempo para chocar:"></h:outputLabel>
                <p:inputText value="#{incubatorioBean.entidade.tempochocar}"></p:inputText>
                <h:outputLabel value="Data de inicio:"></h:outputLabel>
                <p:calendar value="#{incubatorioBean.entidade.datainicio}"></p:calendar>
                <h:outputLabel value="Mortalidade:"></h:outputLabel>
                <p:inputText value="#{incubatorioBean.entidade.mortalidade}"></p:inputText>
                <h:outputLabel value="Tipo de ave:"></h:outputLabel>
                <p:selectOneMenu value="#{incubatorioBean.entidade.tipoAve}">
                    <f:selectItem itemLabel="Selecione..." itemValue="" />
                    <f:selectItems value="#{tipoAvesDAO.buscarLista()}" />
                </p:selectOneMenu>
                <h:outputLabel value="Lote de ovos:"></h:outputLabel>
                <p:selectOneMenu value="#{incubatorioBean.entidade.loteovos}">
                    <f:selectItem itemLabel="Selecione..." itemValue="" />
                    <f:selectItems value="#{ovosBean.buscaListaString()}" />
                </p:selectOneMenu>
            </p:panelGrid>
            <ave:toolbarCrud crudBean="#{incubatorioBean}"></ave:toolbarCrud>
            <br/>
            <br/>
            <p:dataTable value="#{incubatorioBean.entidades}" var="inc" >
                <p:column headerText="ID">
                    <h:outputText value="#{inc.id}"></h:outputText>
                </p:column>
                <p:column headerText="Tipo de ave">
                    <h:outputText value="#{inc.tipoAve}"></h:outputText>
                </p:column>
                <p:column headerText="Lote de ovos">
                    <h:outputText value="#{inc.loteovos}"></h:outputText>
                </p:column>
                <p:column headerText="Temperatura">
                    <h:outputText value="#{inc.temperatura}" ></h:outputText>
                </p:column>
                <p:column headerText="Umidade">
                    <h:outputText value="#{inc.umidade}"></h:outputText>
                </p:column>
                <p:column headerText="Tempo para chocar">
                    <h:outputText value="#{inc.tempochocar}"></h:outputText>
                </p:column>
                <p:column headerText="Data inicio">
                    <p:calendar value="#{inc.datainicio}" disabled="true"></p:calendar>
                </p:column>
                <p:column headerText="Mortalidade">
                    <h:outputText value="#{inc.mortalidade}"></h:outputText>
                </p:column>
                <p:column headerText="Editar">
                    <p:commandButton value="Editar" action="#{incubatorioBean.change(inc)}" update="@form" ></p:commandButton>
                </p:column>
                <p:column headerText="Excluir">
                    <p:commandButton value="Excluir" action="#{incubatorioBean.delete(inc)}" update="@form" ></p:commandButton>
                </p:column>
            </p:dataTable>
        </p:fieldset>
    </h:form>
</ui:decorate>

