<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
             template="menu.xhtml"
             xmlns:ave="http://xmlns.jcp.org/jsf/composite/avecomp"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Lotes de rações</title>
    </h:head>
    <h:form>
        <p:messages autoUpdate="true" showDetail="true"></p:messages>
        <p:fieldset>
               <p:panelGrid columns="4">
                <h:outputLabel value="Quantidade:"></h:outputLabel>
                <p:inputText value="#{racaoBean.entidade.quantidade}"></p:inputText>
                <h:outputLabel value="Data inicio:"></h:outputLabel>
                <p:calendar value="#{racaoBean.entidade.datainicio}"></p:calendar>
                <h:outputLabel value="Data fim:"></h:outputLabel>
                <p:calendar value="#{racaoBean.entidade.datafim}"></p:calendar>
            </p:panelGrid>
            <ave:toolbarCrud crudBean="#{racaoBean}"></ave:toolbarCrud>
            <br/>
            <br/>
            <p:dataTable value="#{racaoBean.entidades}" var="r" >
                <p:column headerText="Tipo de ração">
                    <h:outputText value="#{r.tiporacao}"></h:outputText>
                </p:column>
                <p:column headerText="Quantidade">
                    <h:outputText value="#{r.quantidade}"></h:outputText>
                </p:column>
                <p:column headerText="Data inicio">
                    <p:calendar value="#{r.datainicio}" disabled="true"></p:calendar>
                </p:column>
                <p:column headerText="Data fim">
                    <p:calendar value="#{r.datafim}" disabled="true"></p:calendar>
                </p:column>
                <p:column headerText="Editar">
                    <p:commandButton value="Editar" action="#{racaoBean.change(r)}" update="@form" ></p:commandButton>
                </p:column>
                <p:column headerText="Excluir">
                    <p:commandButton value="Excluir" action="#{racaoBean.delete(r)}" update="@form" ></p:commandButton>
                </p:column>
            </p:dataTable>
        </p:fieldset>
    </h:form>
</ui:decorate>

