<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
             template="menu.xhtml"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:p="http://primefaces.org/ui"
             xmlns:ave="http://xmlns.jcp.org/jsf/composite/avecomp"
             xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Financeiro</title>
    </h:head>
    <h:form>
        <p:messages autoUpdate="true" showDetail="true"></p:messages>
        <p:fieldset>
            <p:panelGrid columns="4">
                <h:outputLabel value="Nome do item:"></h:outputLabel>
                <p:inputText value="#{financeiroBean.entidade.nome}"></p:inputText>
                <h:outputLabel value="Valor:"></h:outputLabel>
                <p:inputText value="#{financeiroBean.entidade.valor}"></p:inputText>
                <h:outputLabel value="Detalhe:"></h:outputLabel>
                <p:inputText value="#{financeiroBean.entidade.detalhe}"></p:inputText>
                <h:outputLabel value="Tipo de transação"></h:outputLabel>
                <p:selectOneMenu value="#{financeiroBean.entidade.entrasaida}">
                    <f:selectItem itemLabel="Selecione..." itemValue="" />
                    <f:selectItem itemLabel="Entrada" itemValue="Entrada" />
                    <f:selectItem itemLabel="Saida" itemValue="Saida" />
                </p:selectOneMenu>
            </p:panelGrid>
            <ave:toolbarCrud crudBean="#{financeiroBean}"></ave:toolbarCrud>
            <br/>
            <br/>
            <p:dataTable value="#{financeiroBean.entidades}" var="f">
                <p:column headerText="Nome do item">
                    <h:outputText value="#{f.nome}"></h:outputText>
                </p:column>
                <p:column headerText="Detalhe">
                    <h:outputText value="#{f.detalhe}"></h:outputText>
                </p:column>
                <p:column headerText="Valor">
                    <h:outputText value="#{f.valor}"></h:outputText>
                </p:column>
                <p:column headerText="Tipo de transição">
                    <h:outputText value="#{f.entrasaida}"></h:outputText>
                </p:column>
                <p:column headerText="Editar">
                    <p:commandButton value="Editar" action="#{financeiroBean.change(f)}" update="@form" ></p:commandButton>
                </p:column>
                <p:column headerText="Excluir">
                    <p:commandButton value="Excluir" action="#{financeiroBean.delete(f)}" update="@form" ></p:commandButton>
                </p:column>
            </p:dataTable>
        </p:fieldset> 
    </h:form>
</ui:decorate>

