<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:p="http://primefaces.org/ui"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
             template="menu.xhtml"
             xmlns:f="http://xmlns.jcp.org/jsf/core"
             xmlns:ave="http://xmlns.jcp.org/jsf/composite/avecomp">
    <h:head>
        <title>Lotes de ovos</title>
    </h:head>
    <h:form>
        <p:messages autoUpdate="true" showDetail="true"></p:messages>
        <p:fieldset>
            <p:panelGrid columns="4">
                <h:outputLabel value="Lote"></h:outputLabel>
                <p:inputText value="#{ovosBean.entidade.lote}"></p:inputText>
                <h:outputLabel value="Quantidade"></h:outputLabel>
                <p:inputText value="#{ovosBean.entidade.quantidade_ovos}"></p:inputText>
                <h:outputLabel value="Qualidade"></h:outputLabel>
                <p:inputText value="#{ovosBean.entidade.qualidade_ovos}"></p:inputText>
                <h:outputLabel value="Tipo de ave:"></h:outputLabel>
                <p:selectOneMenu value="#{ovosBean.entidade.tipoAve}">
                    <f:selectItem itemLabel="Selecione..." itemValue="" />
                    <f:selectItems value="#{tipoAvesDAO.buscarLista()}" />
                </p:selectOneMenu>
                <h:outputLabel value="Data ponhagem"></h:outputLabel>
                <p:calendar value="#{ovosBean.entidade.data_ponhagem_ovos}"></p:calendar>
                <h:outputLabel value="Incubação"></h:outputLabel>
                <p:selectBooleanCheckbox value="#{ovosBean.entidade.incubacao_ovos}"></p:selectBooleanCheckbox>
                <h:outputLabel value="Todos incubação"></h:outputLabel>
            </p:panelGrid>
            <ave:toolbarCrud crudBean="#{ovosBean}"></ave:toolbarCrud>
            <br/>
            <br/>
            <p:dataTable value="#{ovosBean.entidades}" var="o" rendered="#{ovosBean.busca == true}">
                <p:column headerText="Lote" sortBy="#{o.lote}">
                    <h:outputText value="#{o.lote}"></h:outputText>
                </p:column>
                <p:column headerText="Quantidade">
                    <h:outputText value="#{o.quantidade_ovos}"></h:outputText>
                </p:column>
                <p:column headerText="Qualidade">
                    <h:outputText value="#{o.qualidade_ovos}"></h:outputText>
                </p:column>
                <p:column headerText="Ave">
                    <h:outputText value="#{o.tipoAve}"></h:outputText>
                </p:column>
                <p:column headerText="Data de ponhagem">
                    <p:calendar value="#{o.data_ponhagem_ovos}" disabled="true"></p:calendar>
                </p:column>
                <p:column headerText="Incubação">
                    <p:selectBooleanCheckbox value="#{o.incubacao_ovos}" disabled="true"></p:selectBooleanCheckbox>
                </p:column>
                <p:column headerText="Editar">
                    <p:commandButton value="Editar" action="#{ovosBean.change(o)}" update="@form" ></p:commandButton>
                </p:column>
                <p:column headerText="Excluir">
                     <p:commandButton value="Excluir" action="#{ovosBean.delete(o)}" update="@form" ></p:commandButton>
                </p:column>
            </p:dataTable>
        </p:fieldset>
    </h:form>
</ui:decorate>