<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="crudBean" required="true" shortDescription="Uma classe qualquer que extenda o crud"></cc:attribute>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:toolbarGroup>
            <p:commandButton value="Pesquisar" action="#{cc.attrs.crudBean.search()}" rendered="#{cc.attrs.crudBean.busca == true}" update="@form" ></p:commandButton>
            <p:commandButton value="Voltar" action="#{cc.attrs.crudBean.returnPes()}" rendered="#{cc.attrs.crudBean.busca == false}" update="@form"></p:commandButton>
            <p:commandButton value="Novo" action="#{cc.attrs.crudBean.newEnt()}" rendered="#{cc.attrs.crudBean.busca == true}" update="@form" ></p:commandButton>
            <p:commandButton value="Salvar" action="#{cc.attrs.crudBean.save()}" rendered="#{cc.attrs.crudBean.busca == false}" update="@form" ></p:commandButton>
            <p:commandButton value="Limpar" action="#{cc.attrs.crudBean.clear()}" rendered="#{cc.attrs.crudBean.busca == true}" update="@form"></p:commandButton>
        </p:toolbarGroup>  
    </cc:implementation>
</html>